.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Fonts
cyrillic Cuprum Regular          cyrillic PT Sans Regular
cyrillic Cuprum Regular Italic
cyrillic Cuprum Bold             cyrillic PT Sans Bold
latin Cuprum Regular
latin PT Sans Bold*/

@font-face { /*cyrillic Cuprum Regular */
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), url(https://fonts.gstatic.com/s/cuprum/v11/dg4k_pLmvrkcOkBNIutCt70.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face { /*cyrillic Cuprum Regular Italic */
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum Italic"), local("Cuprum-Italic"), url(https://fonts.gstatic.com/s/cuprum/v11/dg4m_pLmvrkcOkBNI9tEr7kVSg.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face { /*cyrillic Cuprum Bold */
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Cuprum Bold"), local("Cuprum-Bold"), url(https://fonts.gstatic.com/s/cuprum/v11/dg4n_pLmvrkcOkBFnc5XjJwocwM.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face { /*latin Cuprum Regular */
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), url(https://fonts.gstatic.com/s/cuprum/v11/dg4k_pLmvrkcOkBNJutC.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face { /*cyrillic PT Sans Regular */
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0aExdGM.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face { /*cyrillic PT Sans Bold */
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v11/jizfRExUiTo99u79B_mh0OqtLQ0Z.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face { /*latin PT Sans Bold */
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v11/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.button {
  display: block;
  box-sizing: border-box;
  height: 38px;
  padding: 10px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: normal;

  background-color: #ee3643;
  border-radius: 3px;
}
.button:hover {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}
.container {
  width: 940px;
  margin: 0 auto;
}
/* Header */
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
}

.top-header-wrapper {
  width: 100%;
  background-color: #293449;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #293449;
}
.top-header a {
  flex-grow: 1;
  padding-top: 14px;
  padding-bottom: 12px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
  text-decoration: none;
}
.top-header .logo {
  width: 220px;
  padding-top: 16px;
  padding-bottom: 10px;
  z-index: 1;
  text-transform: uppercase;
  font-size: 24px;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}
.top-header .logo:hover {
  background-color: #c92c37;
  color: #ffffff;
}
.top-header .logo:active {
  background-color: #ba2632;
  color: #ffffff;
}

.top-header input  {
  width: 222px;
  padding-left: 48px;
  min-height: 42px;

  font-size: 17px;
  line-height: 18px;

  background-color: #293449;
  color: #000000;
  border: none;
}
.post label {
  position: relative;
  display: block;
}
.search svg {
  position: absolute;
  display: block;
  top: 14px;
  left: 17px;
  width: 17px;
  height: 17px;
}
.search path {
  fill: #ffffff;
  opacity: 0.3;
}
.search:hover path {
  fill: #ffffff;
  opacity: 1;
}
.search:focus + svg path {
  fill: #ee3643;
  opacity: 1;
}
.top-header input:hover {
  background-color: #212a3b;
}
.top-header input::-webkit-input-placeholder {
  color: #ffffff;
}
.top-header input:-moz-placeholder {
  color: #ffffff;
}
.top-header input:focus {
  background-color: #ffffff;
}
.info-buy {
  position: relative;
  width: 450px;
  display: flex;
}

.info-bin {
  width: 49px;
  text-align: right;
}
.top-header a:last-child {
  width: 150px;
  flex-grow: 0;
  background-color: #63a63e;
}
.top-header a:hover {
  background-color: #212a3b;
}
.top-header a:active {
  background-color: #161c28;
  color: #b9bec4;
}
.top-header a:last-child:hover {
  background-color: #5fba2e;
}
.top-header a:last-child:active {
  background-color: #518533;
  color: #b9bec4;
}

.info-mark::before {
  content: "";
  top: 13px;
  left: 17px;

  position: absolute;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.info-mark:hover::before {
  opacity: 1;
}
.info-mark:active::before {
  opacity: 0.5;
}
.info-bin::before {
  content: "";
  top: 13px;
  left: 168px;

  position: absolute;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.info-bin:hover::before {
  opacity: 1;
}
.info-bin:active::before {
  opacity: 0.5;
}

.bottom-header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 278px;

  background-color: #f1f5f7;
}
.middle-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 158px;
}
.middle-header div {
  position: relative;
}
.info {
  width: 200px;
  margin-right: 68px;
  margin-left: 53px;
  margin-top: 22px;

  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}
.tel {
  display: block;
  width: 194px;
  height: 29px;
  margin-left: 0px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 70px;

  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  text-decoration: none;
  text-align: left;

  border: 3px solid #ffffff;
}
.tel::before {
  position: absolute;
  content: "";
  top: 19px;
  left: 14px;

  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.address {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #32425c;
}
.authorization {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;

  width: 300px;
  margin-bottom: 20px;
  margin-left: 50px;
}
.authorization-menu:first-child {
  width: 121px;
  height: 45px;
  box-sizing: border-box;
  padding-top: 11px;
  padding-left: 21px;
}
.login::before {
  content: "";
  top: 13px;
  left: 33px;

  position: absolute;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.login:hover::before {
  opacity: 1;
}
.login:active::before {
  opacity: 0.3;
}
.authorization-menu:last-child {
  width: 150px;
  height: 45px;
  margin-left: 10px;
  box-sizing: border-box;
  padding-top: 11px;
}
.authorization-menu, .user {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-align: center;

  background-color: #ffffff;
}
.authorization-menu:hover {
  color: #ee3643
}
.authorization-menu:active {
  color: rgba(0, 0, 0, 0.3);
}

.user:hover {
}
.user:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-menu {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}
.user-menu:hover {
  color: #ee3643;
}
.user-menu:active {
  color: rgba(0, 0, 0, 0.3);
}

.top-nav {
  background-color: #32425c;
  box-shadow: 0 5px #293449;
}
.top-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 20px;
}
.top-nav li {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-height: 55px;
}
.top-nav a {
  flex-grow: 1;
  padding: 20px 0 18px;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}
.top-nav a:hover {
  background-color: #293449;
}
.top-nav a:active {
  background-color: #293449;
  color: rgba(255, 255, 255 , 0.5);
}

/* Main */
.more h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.promo-nav {
  display: flex;
  justify-content: space-between;
  height: 409px;
  padding-top: 59px;
  padding-bottom: 53px;
}
.promo-nav > div {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;

  flex-wrap: wrap;

}
.label h3 {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}
.materials {
  background-color: #ffbf47;
}
.tools {
  margin-left: 20px;
  background-color: #3bbce3;
}
.technic {
  background-color: #dc91d8;
}
.discount {
  margin-top: 20px;
  background-color: #8ed78f;
}
.delivery {
  margin-top: 20px;
  background-color: #ffc047;
}
.label {
  position: relative;
  width: 300px;
  height: 123px;
  box-sizing: border-box;
  padding: 20px 23px;
}
.label a {
  background-color: rgba(0, 0, 0, 0.1);
}
.label a:hover {
  background-color: rgba(0, 0, 0, 0.2)
}
.label a:active {
  background-color: rgba(0, 0, 0, 0.3)
}
.promo {
  margin-top: 14px;
  margin-left: 2px;
  width: 135px;

}

.promo-label {
  position: relative;
  box-sizing: border-box;
  /* padding: 22px 24px 24px 24px; */
  width: 620px;
  height: 266px;
  margin-top: 20px;
}
.slider-item h3 {
  margin: 0 0 2px 0;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;

}
.slider-item p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.slider {
  position: relative;
  background-color: #ffffff;
}
.slider-settings {
  position: absolute;
  left: 50%;
  bottom: 36px;
  z-index: 100;

  width: 60px;
  height: 26px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-settings label {
  position: relative;
  top: 6px;
  left: -3px;

  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 5px;

  border-radius: 50%;
  cursor: pointer;
}
.slider-1::before {
  content: "";
  top: -98px;
  left: -262px;

  position: absolute;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-promo-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.slider-2::before {
  content: "";
  top: -98px;
  left: 271px;

  position: absolute;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-promo-right.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: skewX(180deg);
}
.slider-settings label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 10px;
  height: 10px;

  border-radius: 50%;
  background: #ffffff;
}

#slider-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
#slider-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#slider-1:checked ~ .slider-settings .slider-controls-item--1::before,
#slider-2:checked ~ .slider-settings .slider-controls-item--2::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 13px;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin: -3px;

  background-color: #ee3643;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.slider-item {
  display: none;
  padding: 22px 24px 22px 24px;
}
.slider-item:nth-child(1) {
  background-image: url(../img/promo2.jpg);
  background-repeat: no-repeat;
}
.slider-item:nth-child(2) {
  background-image: url(../img/promo1.jpg);
  background-repeat: no-repeat;
}


.promo-label-button {
  display: block;
  width: 195px;
  margin-top: 122px;
  margin-left: 1px;
}
.materials h3::before{
  content: "";
  bottom: 27px;
  right: 43px;

  position: absolute;
  width: 44px;
  height: 65px;
  background-image: url(../img/icon-promo-paint.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.tools h3::before{
  content: "";
  bottom: 29px;
  right: 28px;

  position: absolute;
  width: 75px;
  height: 61px;
  background-image: url(../img/icon-promo-tooling.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.technic h3::before{
  content: "";
  bottom: 30px;
  right: 30px;

  position: absolute;
  width: 78px;
  height: 62px;
  background-image: url(../img/icon-promo-tractor.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.discount h3::before{
  content: "";
  bottom: 25px;
  right: 45px;

  position: absolute;
  width: 59px;
  height: 72px;
  background-image: url(../img/icon-promo-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.delivery h3::before{
  content: "";
  bottom: 30px;
  right: 30px;

  position: absolute;
  width: 78px;
  height: 63px;
  background-image: url(../img/icon-promo-car.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}



.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 25px;
  letter-spacing: -0.06em;

  min-height: 89px;
  background-color: #f9f5f0;
}
.more-tools {
  width: 253px;
}
.list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 20px 0 21px 0;
  padding: 0;
}
.list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction:column;
  box-sizing: border-box;
  position: relative;
  width: 218px;
  height: 316px;
  padding-top: 0;
  padding-right: 14px;
  padding-bottom: 18px;
  padding-left: 22px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-align: center;

  border: 1px solid #e5e5e5;
  transition-duration: 1s;
}

.list-item img {
  display: block;
  position: relative;
  left: -4px;
  z-index: -1;
  /* margin: 0 auto; */
  /* box-sizing: border-box; */
  width: 216px;
  height: auto;
  order: -1;
  /* border: 1px solid */
}
.list-item a {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}
.list-item span {
  font-size: 17px;
  line-height: 18px;
}
.list-item h3 {
  margin: 12px 0 0 -7px;
  line-height: 10px;
}
.last-price {
  min-width: 1px;
  min-height: 18px;
  margin-top: 10px;
  color: #a9a9a9;
  text-decoration: line-through;
}
.price {
  box-sizing: border-box;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140px;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 1px;
}
.price::before {
  content: "";

  position: absolute;
  right: 22px;
  bottom: 44px;
  width: 30px;
  height: 15px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.price::after {
  content: "";

  position: absolute;
  right: 22px;
  bottom: 15px;
  width: 30px;
  height: 15px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}
.buy-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 170px;
  order: -1;
}
.list-item:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  transition-duration: 1s;
}
.list-item:hover .buy-menu {
  display: flex;
  transition-duration: 1s;
}
.list-item:hover img {
  display: none;
  transition-duration: 1s;
}
.buy {
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  width: 129px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-radius: 2px;
  box-shadow: 0 3px #367315;
}
.buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
}
.buy:active {
  background-color: #518534;
  border: 3px solid #518534;
  box-shadow: 0 3px #518534;
}
.mark {
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 129px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-decoration: none;
  text-transform: uppercase;

  border: 3px solid #63a63e;
  border-radius: 2px;
  background-color: #ffffff;
}
.mark:hover {
  border: 3px solid #32425c;
  background-color: #ffffff;
}
.mark:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
  background-color: #ffffff;
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 85px;
}
.company-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 218px;
  height: 143px;
  border: 1px solid #eaeaea;
}
.label-manufacturer {
  box-shadow: none;
  transition-duration: 0.5s;
}
.label-manufacturer:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  transition-duration: 1s;
}
.label-manufacturer:active {
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  transition-duration: 100ms;
}
.service {
  width: 100%;
  background-color: #f4f8fa;
}
.service h2, .about h2, .contacts h2, .page-info h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color:#000000;
  letter-spacing: -0.02em;
}
.service p, .about p, .contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
}
.service h3 {
  margin-top: 13px;
  margin-bottom: 26px;
  color:#32425c;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}
.service p {
  margin: 0;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 416px;
  padding-top: 38px;
  padding-bottom: 68px;
}
.service-detals {
  display: flex;
  margin-top: 52px;
  height: 240px;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 220px;
}
.service-list {
  padding: 0;
  padding-left: 80px;
  margin: 0;
  order: 1;

  box-shadow:
  20px 0 0px 20px #f4f8fa,
  5px 0 15px black;
}
.service-list li {
  display: none;
  width: 618px;
  height: 287px;
}
#delivery:checked ~ .service-list li:nth-child(1) {
  display: block;
}
#security:checked ~ .service-list li:nth-child(2) {
  display: block;
}
#credit:checked ~ .service-list li:nth-child(3) {
  display: block;
}

.controls label {
  display: block;
  width: 240px;
  height: 62px;
  order: 1;
  box-sizing: border-box;
  padding-top: 13px;
  padding-left: 22px;

  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.04em;
  text-decoration: none;

  background-color: #32425c;
  box-shadow: inset
  0px 1px 2px 0 #405069,
  0px -1px 2px 0 #293449;
}
.controls label:hover {
  background-color: #293449;
}
#delivery:checked ~ .controls label[for="delivery"] {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}
#security:checked ~ .controls label[for="security"] {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}
#credit:checked ~ .controls label[for="credit"] {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}

.delivery-item {
  background-image: url(../img/service-car.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.delivery-item p {
  display: block;
  float: left;
  clear: both;
  width: 280px;
}
.delivery-item p:last-child {
  width: 200px;
}
.security-item {
  background-image: url(../img/service-medal.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.credit-item {
  background-image: url(../img/service-medal.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.credit-item .button {
  margin-top: 32px;
  width: 195px;
}




.about-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 52px;
  padding-bottom: 86px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 540px;
}
.about p {
  float: left;
  width: 540px;;
  margin-top: 0px;
  margin-bottom: 24px;
}
.about p:nth-child(3) {
  margin-bottom: 20px;
  width: 400px;
}
.about ul {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left:36px;
  list-style: none;

}
.about li {
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
}
.about span::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 9px;

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}
.about .button {
  width: 220px;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.contacts p {
  margin-top: 0;
  margin-bottom: 30px;
  width: 200px;
}
.contacts .button {
  margin-top: 32px;
}

/* POPAP */
.feed-back label {
  font-size: 18px;
  line-height: 18px;
}
.feed-back input::-webkit-input-placeholder {
  color: #a9a9a9;
}


.page-catalog {
  display: flex;
  flex-direction: column;
}
.catalog-nav {
  display: flex;
  padding-left: 0;

  list-style: none;
  min-height: 59px;

  font-family: "PT Sans", "Arial",sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.catalog-nav li {
  margin-right: 35px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.page-title h1{
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.main-catalog {
  display: flex;
  justify-content: space-between;
}


.filter {
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;

  font-family: "PT Sans", "Arial",sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;

  background-color: #f7f3ec;
}
.filters {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-right: 20px;
  flex-wrap: wrap;

  font-family: "PT Sans", "Arial",sans-serif;
  text-transform: uppercase;
}
.filters input[type="number"] {
  width: 95px;
  margin-top: 9px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;

  font-family: "PT Sans", "Arial",sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border: none;
  background-color: #f7f3ec;
}
.duble-range {
  width: 220px;
  height: 80px;

  background-color: #f7f3ec;
}
.filters h3 {
  margin-top: 12.5px;
  margin-bottom: 12.5px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}
.developer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 262px;

  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.developer-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 21px;
  padding-left: 0;

  list-style: none;
}
.energy-list {
  display: flex;
  flex-direction: column;
  min-height: 199px;

}
.energy-list ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 199px;
  margin: 0;
  padding: 0;

  list-style: none;
}
.energy-list li {
  padding-bottom: 20px;
}
.filters label {
  font-size: 15px;
  line-height: 20px;
}
.catalog-button {
  /* height: 36px; */
  margin-bottom: 60px;
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
}
.catalog-button:hover {
  border-color: #bdc6ca;
}
.catalog-button:active {
  border-color: #ee3643;
}
.energy-list input[type="submit"] {
  width: 138px;
}

.tools-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.range-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;

  background-color: #f7f3ec;
}
.range-filter h3, .range-list a {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial",sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;

  background-color: #f7f3ec;
}
.range-list {
  display: flex;
  justify-content: space-around;
  width: 480px;
}
.range-item {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  width: 44px;
}
.range-list a {
  color: #cacaca;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}
.range-list a:hover {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #ee3643;
}
.range-item a, .range-item a:hover {
  text-decoration: none;
}



.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-number ul {
  display: flex;
  list-style: none;
  margin-top: 52px;
  margin-bottom: 60px;
  padding: 0;
}
.page-number li {
  width: 36px;
  margin-right: 10px;
}
.page-number li:last-child {
  width: 138px;
}
.page-number a {
  font-family: "PT Sans", "Arial",sans-serif;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.page-info p {
  font-family: "PT Sans", "Arial",sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.popap-bin p {
  font-size: 30px;
  line-height: 30px;
}
.next {
  background-color: #ffffff;
  color: #000000;
}

.page-info-wrapper {
  display: flex;
  width: 100%;
  min-height: 261px;

  background-color: #f2f6f8;
}
.page-info h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}
.page-info p {
  margin: 0;
}


/* Footer */

.pre-end-wrapper {
  width: 100%;
  background-color: #32425c;
}
.pre-end {
  display: flex;
  justify-content: space-between;
  height: 193px;

  font-size: 18px;
  line-height: 24px;
}
.bottom-contacts {
  display: flex;
  flex-direction: column;
}
.logo {
  width: 220px;
  padding-top: 20px;
  padding-bottom: 20px;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}
.logo:hover {
  background-color: #c92c37;
  color: #ffffff;
}
.logo:active {
  background-color: #ba2632;
  color: #ffffff;
}
.pre-end p {
  margin-top: 32px;
  margin-left: 2px;
  width: 336px;
}
.bottom-nav {
  display: flex;
  flex-direction: column;
  /* order: 1; */
}
.pre-end ul {
  display: flex;
  justify-content: flex-end;

  list-style: none;
  margin-top: 38px;
  margin-bottom: -4px;

}
.pre-end li {
  padding-left: 59px;
}
.pre-end li:first-child {
  padding-left: 0px;
}
.nav a, .pre-end p {
  color: #f1f5f7;
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}
.nav a:active {
  color: rgba(255, 255, 255, 0.5);
}

.catalog a {
  color: #ffd180;
  text-decoration: none;
}
.catalog a:hover {
  text-decoration: underline;
}
.catalog a:active {
  color: rgba(255, 209, 128, 0.5);
}

.end-wrapper {
  width: 100%;
  background-color: #293449;
}
.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 106px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.end .rules {
  width: 230px;
}
.social {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-vk::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 71px;

  width: 40px;
  height: 40px;

  background-color: #212a3a;
  border-radius: 50%;
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social-fb::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 26px;

  width: 40px;
  height: 40px;

  background-color: #212a3a;
  border-radius: 50%;
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social-inst::before {
  content: "";
  position: absolute;
  top: -17px;
  left: -20px;

  width: 40px;
  height: 40px;

  background-color: #212a3a;
  border-radius: 50%;
  background-image: url(../img/icon-instagram.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social-vk:hover::before,
.social-fb:hover::before,
.social-inst:hover::before,
.social-vk:active::before,
.social-fb:active::before,
.social-inst:active::before {
  background-color: #ee3643;
}

.developer {
  display: flex;
  justify-content: flex-end;
  margin-right: -28px;
}
.developer span {
  width: 140px;
  margin-left: 50px;
}
.end a {
  position: relative;
  text-decoration: none;
  color: #ffd180;
}
.end a:hover {
  text-decoration: underline;
}
.end a:active {
  color: #ee3643;
}
